<!-- サーブレットマッピングの設定を行うファイルです。-->

<web-app>

	<!-- サーブレットの登録 -->
	<servlet>
		<servlet-name>loginMapping</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutMapping</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listUniformMapping</servlet-name>
		<servlet-class>servlet.ListUniformServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertUniformMapping</servlet-name>
		<servlet-class>servlet.InsertUniformServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateUniformMapping</servlet-name>
		<servlet-class>servlet.UpdateUniformServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteUniformMapping</servlet-name>
		<servlet-class>servlet.DeleteUniformServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>detailUniformMapping</servlet-name>
		<servlet-class>servlet.DetailUniformServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listOrderManagementMapping</servlet-name>
		<servlet-class>servlet.ListOrderManagementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>changeStatusMapping</servlet-name>
		<servlet-class>servlet.ChangeStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteOrderMapping</servlet-name>
		<servlet-class>servlet.DeleteOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>detailOrderMapping</servlet-name>
		<servlet-class>servlet.DetailOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertIntoCartMapping</servlet-name>
		<servlet-class>servlet.InsertIntoCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showCartMapping</servlet-name>
		<servlet-class>servlet.ShowCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>buyConfirmMapping</servlet-name>
		<servlet-class>servlet.BuyConfirmServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertMemberMapping</servlet-name>
		<servlet-class>servlet.InsertMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inputUserMapping</servlet-name>
		<servlet-class>servlet.InputUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginCheckMapping</servlet-name>
		<servlet-class>servlet.LoginCheckServlet</servlet-class>
	</servlet>


	<!-- サーブレットのマッピング -->
	<servlet-mapping>
		<servlet-name>loginMapping</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutMapping</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listUniformMapping</servlet-name>
		<url-pattern>/listUniform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insertUniformMapping</servlet-name>
		<url-pattern>/insertUniform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateUniformMapping</servlet-name>
		<url-pattern>/updateUniform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteUniformMapping</servlet-name>
		<url-pattern>/deleteUniform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>detailUniformMapping</servlet-name>
		<url-pattern>/detailUniform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listOrderManagementMapping</servlet-name>
		<url-pattern>/listOrderManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeStatusMapping</servlet-name>
		<url-pattern>/changeStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteOrderMapping</servlet-name>
		<url-pattern>/deleteOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>detailOrderMapping</servlet-name>
		<url-pattern>/detailOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insertIntoCartMapping</servlet-name>
		<url-pattern>/insertIntoCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showCartMapping</servlet-name>
		<url-pattern>/showCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buyConfirmMapping</servlet-name>
		<url-pattern>/buyConfirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insertMemberMapping</servlet-name>
		<url-pattern>/insertMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inputUserMapping</servlet-name>
		<url-pattern>/inputUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginCheckMapping</servlet-name>
		<url-pattern>/loginCheck</url-pattern>
	</servlet-mapping>

</web-app>